APPLICATION_NAME=Demo Website
TEST_ENVIRONMENT=Production

BASE_URL=https://baseurl.com
API_BASE_URL=https://dev.example.com/api

USERNAME=user
PASSWORD=password

BROWSER=Chromium

# authentication state
AUTH_STATE_PATH=auth

# Default timeout
DEFAULT_TIMEOUT=30000

# Tester
TESTER=SQA Engineer